::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(103, 103, 103, 0.6);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}